body {background-image: url('https://kartinki.pibig.info/uploads/posts/2023-04/1680970116_kartinki-pibig-info-p-neiroset-kartinki-dlya-prezentatsii-arti-16.jpg');
    background-size: cover;}
.app {display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('https://kartinki.pibig.info/uploads/posts/2023-04/1680970116_kartinki-pibig-info-p-neiroset-kartinki-dlya-prezentatsii-arti-16.jpg');
background-size: cover;
}
.button  {background: rgb(145, 145, 145);cursor: pointer;border-radius: 10px;transform: rotateX(5px);}
.navigation {    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
background-image: url('https://kartinki.pibig.info/uploads/posts/2023-04/1680970116_kartinki-pibig-info-p-neiroset-kartinki-dlya-prezentatsii-arti-16.jpg');
background-size: cover;}
.text {color: rgba(79, 77, 49, 0.85);font-size: 2em;}
.bitwin {padding: 20px;}
.pages { color: rgba(79, 77, 49, 0.85); padding: 20px;}
.footer {display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-end;
    margin: 320px;}

